<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
	<title>Log in</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
</head>
<body>
	<div class="container">
		<div class="container-background">
			<div class="header">
				<h1>Log in</h1>
			</div>
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="username" id="login-name">
				</div>

				<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="password" id="login-pass">
				</div>
				
				<a class="btn" href="#">Login</a>
			</div>
		</div>
	</div>
</body>
</html>